@model IEnumerable<Homework_NetCore.Models.Project>

@{
    ViewData["Title"] = "Homework_NetCore";
}

<h1>Welcome to test project in ASP.NET Core</h1><hr/>
<h2>If you want to navigate on this site use links below.</h2>
1. @Html.ActionLink("Projects", "Index", "Projects")
2. @Html.ActionLink("Employees", "Index", "Employees")
3. @Html.ActionLink("Roles", "Index", "Roles")